<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.starmedia.logic.creative.datasource.adScheduleMaterialRef.dao.AdScheduleMaterialRefMapper" >
  <resultMap id="BaseResultMap" type="com.market.starmedia.logic.creative.datasource.adScheduleMaterialRef.pojo.AdScheduleMaterialRef" >
    <result column="aid" property="aid" jdbcType="BIGINT" />
    <result column="material_id" property="material_id" jdbcType="BIGINT" />
  </resultMap>
  <insert id="insert" parameterType="com.market.starmedia.logic.creative.datasource.adScheduleMaterialRef.pojo.AdScheduleMaterialRef" >
    insert into ad_schedule_material_ref (aid, material_id)
    values (#{aid,jdbcType=BIGINT}, #{material_id,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.market.starmedia.logic.creative.datasource.adScheduleMaterialRef.pojo.AdScheduleMaterialRef" >
    insert into ad_schedule_material_ref
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="material_id != null" >
        material_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=BIGINT},
      </if>
      <if test="material_id != null" >
        #{material_id,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
</mapper>