<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.starmedia.logic.material.datasource.materialInfo.dao.MaterialInfoMapper" >
  <resultMap id="BaseResultMap" type="com.market.starmedia.logic.material.datasource.materialInfo.pojo.MaterialInfo" >
    <id column="material_id" property="material_id" jdbcType="BIGINT" />
    <result column="material_name" property="material_name" jdbcType="VARCHAR" />
    <result column="material_format_id" property="material_format_id" jdbcType="BIGINT" />
    <result column="update_user" property="update_user" jdbcType="VARCHAR" />
    <result column="update_time" property="update_time" jdbcType="TIMESTAMP" />
    <result column="is_delete" property="is_delete" jdbcType="TINYINT" />
    <result column="is_stop" property="is_stop" jdbcType="TINYINT" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.market.starmedia.logic.material.datasource.materialInfo.pojo.MaterialInfo" extends="BaseResultMap" >
    <result column="material_format_content" property="material_format_content" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    material_id, material_name, material_format_id, update_user, update_time, is_delete, 
    is_stop
  </sql>
  <sql id="Blob_Column_List" >
    material_format_content
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from material_info
    where material_id = #{material_id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from material_info
    where material_id = #{material_id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.market.starmedia.logic.material.datasource.materialInfo.pojo.MaterialInfo" >
    insert into material_info (material_id, material_name, material_format_id, 
      update_user, update_time, is_delete, 
      is_stop, material_format_content)
    values (#{material_id,jdbcType=BIGINT}, #{material_name,jdbcType=VARCHAR}, #{material_format_id,jdbcType=BIGINT}, 
      #{update_user,jdbcType=VARCHAR}, #{update_time,jdbcType=TIMESTAMP}, #{is_delete,jdbcType=TINYINT}, 
      #{is_stop,jdbcType=TINYINT}, #{material_format_content,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.market.starmedia.logic.material.datasource.materialInfo.pojo.MaterialInfo" >
    insert into material_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="material_id != null" >
        material_id,
      </if>
      <if test="material_name != null" >
        material_name,
      </if>
      <if test="material_format_id != null" >
        material_format_id,
      </if>
      <if test="update_user != null" >
        update_user,
      </if>
      <if test="update_time != null" >
        update_time,
      </if>
      <if test="is_delete != null" >
        is_delete,
      </if>
      <if test="is_stop != null" >
        is_stop,
      </if>
      <if test="material_format_content != null" >
        material_format_content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="material_id != null" >
        #{material_id,jdbcType=BIGINT},
      </if>
      <if test="material_name != null" >
        #{material_name,jdbcType=VARCHAR},
      </if>
      <if test="material_format_id != null" >
        #{material_format_id,jdbcType=BIGINT},
      </if>
      <if test="update_user != null" >
        #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null" >
        #{is_delete,jdbcType=TINYINT},
      </if>
      <if test="is_stop != null" >
        #{is_stop,jdbcType=TINYINT},
      </if>
      <if test="material_format_content != null" >
        #{material_format_content,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.market.starmedia.logic.material.datasource.materialInfo.pojo.MaterialInfo" >
    update material_info
    <set >
      <if test="material_name != null" >
        material_name = #{material_name,jdbcType=VARCHAR},
      </if>
      <if test="material_format_id != null" >
        material_format_id = #{material_format_id,jdbcType=BIGINT},
      </if>
      <if test="update_user != null" >
        update_user = #{update_user,jdbcType=VARCHAR},
      </if>
      <if test="update_time != null" >
        update_time = #{update_time,jdbcType=TIMESTAMP},
      </if>
      <if test="is_delete != null" >
        is_delete = #{is_delete,jdbcType=TINYINT},
      </if>
      <if test="is_stop != null" >
        is_stop = #{is_stop,jdbcType=TINYINT},
      </if>
      <if test="material_format_content != null" >
        material_format_content = #{material_format_content,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where material_id = #{material_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.market.starmedia.logic.material.datasource.materialInfo.pojo.MaterialInfo" >
    update material_info
    set material_name = #{material_name,jdbcType=VARCHAR},
      material_format_id = #{material_format_id,jdbcType=BIGINT},
      update_user = #{update_user,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      is_delete = #{is_delete,jdbcType=TINYINT},
      is_stop = #{is_stop,jdbcType=TINYINT},
      material_format_content = #{material_format_content,jdbcType=LONGVARCHAR}
    where material_id = #{material_id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.market.starmedia.logic.material.datasource.materialInfo.pojo.MaterialInfo" >
    update material_info
    set material_name = #{material_name,jdbcType=VARCHAR},
      material_format_id = #{material_format_id,jdbcType=BIGINT},
      update_user = #{update_user,jdbcType=VARCHAR},
      update_time = #{update_time,jdbcType=TIMESTAMP},
      is_delete = #{is_delete,jdbcType=TINYINT},
      is_stop = #{is_stop,jdbcType=TINYINT}
    where material_id = #{material_id,jdbcType=BIGINT}
  </update>
</mapper>