<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.starmedia.logic.material.datasource.materialInfoConflict.dao.MaterialInfoConflictMapper" >
  <resultMap id="BaseResultMap" type="com.market.starmedia.logic.material.datasource.materialInfoConflict.pojo.MaterialInfoConflict" >
    <id column="material_id" property="material_id" jdbcType="BIGINT" />
    <id column="conflict_type" property="conflict_type" jdbcType="INTEGER" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    material_id, conflict_type, content
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="com.market.starmedia.logic.material.datasource.materialInfoConflict.pojo.MaterialInfoConflictKey" >
    select 
    <include refid="Base_Column_List" />
    from material_info_conflict
    where material_id = #{material_id,jdbcType=BIGINT}
      and conflict_type = #{conflict_type,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.market.starmedia.logic.material.datasource.materialInfoConflict.pojo.MaterialInfoConflictKey" >
    delete from material_info_conflict
    where material_id = #{material_id,jdbcType=BIGINT}
      and conflict_type = #{conflict_type,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.market.starmedia.logic.material.datasource.materialInfoConflict.pojo.MaterialInfoConflict" >
    insert into material_info_conflict (material_id, conflict_type, content
      )
    values (#{material_id,jdbcType=BIGINT}, #{conflict_type,jdbcType=INTEGER}, #{content,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.market.starmedia.logic.material.datasource.materialInfoConflict.pojo.MaterialInfoConflict" >
    insert into material_info_conflict
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="material_id != null" >
        material_id,
      </if>
      <if test="conflict_type != null" >
        conflict_type,
      </if>
      <if test="content != null" >
        content,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="material_id != null" >
        #{material_id,jdbcType=BIGINT},
      </if>
      <if test="conflict_type != null" >
        #{conflict_type,jdbcType=INTEGER},
      </if>
      <if test="content != null" >
        #{content,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.market.starmedia.logic.material.datasource.materialInfoConflict.pojo.MaterialInfoConflict" >
    update material_info_conflict
    <set >
      <if test="content != null" >
        content = #{content,jdbcType=VARCHAR},
      </if>
    </set>
    where material_id = #{material_id,jdbcType=BIGINT}
      and conflict_type = #{conflict_type,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.market.starmedia.logic.material.datasource.materialInfoConflict.pojo.MaterialInfoConflict" >
    update material_info_conflict
    set content = #{content,jdbcType=VARCHAR}
    where material_id = #{material_id,jdbcType=BIGINT}
      and conflict_type = #{conflict_type,jdbcType=INTEGER}
  </update>
</mapper>