<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.market.starmedia.logic.creative.datasource.adEffect.dao.AdEffectMapper" >
  <resultMap id="BaseResultMap" type="com.market.starmedia.logic.creative.datasource.adEffect.pojo.AdEffect" >
    <id column="aid" property="aid" jdbcType="BIGINT" />
    <result column="pv" property="pv" jdbcType="BIGINT" />
    <result column="pc" property="pc" jdbcType="BIGINT" />
  </resultMap>
  <sql id="Base_Column_List" >
    aid, pv, pc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from ad_effect
    where aid = #{aid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from ad_effect
    where aid = #{aid,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.market.starmedia.logic.creative.datasource.adEffect.pojo.AdEffect" >
    insert into ad_effect (aid, pv, pc)
    values (#{aid,jdbcType=BIGINT}, #{pv,jdbcType=BIGINT}, #{pc,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.market.starmedia.logic.creative.datasource.adEffect.pojo.AdEffect" >
    insert into ad_effect
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        aid,
      </if>
      <if test="pv != null" >
        pv,
      </if>
      <if test="pc != null" >
        pc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="aid != null" >
        #{aid,jdbcType=BIGINT},
      </if>
      <if test="pv != null" >
        #{pv,jdbcType=BIGINT},
      </if>
      <if test="pc != null" >
        #{pc,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.market.starmedia.logic.creative.datasource.adEffect.pojo.AdEffect" >
    update ad_effect
    <set >
      <if test="pv != null" >
        pv = #{pv,jdbcType=BIGINT},
      </if>
      <if test="pc != null" >
        pc = #{pc,jdbcType=BIGINT},
      </if>
    </set>
    where aid = #{aid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.market.starmedia.logic.creative.datasource.adEffect.pojo.AdEffect" >
    update ad_effect
    set pv = #{pv,jdbcType=BIGINT},
      pc = #{pc,jdbcType=BIGINT}
    where aid = #{aid,jdbcType=BIGINT}
  </update>
</mapper>